<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PartyFabricator64.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PartyFabricator64.Properties.Settings>
            <setting name="game" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="board" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p1p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p1s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p1c" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p2c" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p3p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p3s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p3c" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p4p" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p4s" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="p4c" serializeAs="String">
                <value>0</value>
            </setting>
        </PartyFabricator64.Properties.Settings>
    </userSettings>
</configuration>